.pane {
    -fx-background-color: #bbbbbb;
    -fx-border-color: black;
}

.gridpane {
     -fx-border-color: black;
     -fx-grid-lines-size: 5px;
     -fx-grid-lines-visible: true;
     -fx-halignment: center;
     -fx-alignment: CENTER;
     -fx-background-color: gold;
}

.tuile {
    -fx-text-fill: #ffffff;
    -fx-font: 50px "Tahoma";
    -fx-font-weight: bold;
    -fx-padding: 26 40 26 40;
}